.confirm-content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8B7969;
}

.confirm-form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px 0 15px 40px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #BAA899;
    color: #fff;
    text-align: left;
    font-weight: normal;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;

}

.confirm-table__text input {
    outline: none;
    border: none;
    color: #8B7969;
}

.confirm-table__text--name input {
    width: 45px;
}

.confirm-table__text--name {
    display: flex;
    width: 100%;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.confirm-table__text select {
    border: none;
    outline: none;
    appearance: none;
    color: #8B7969;
}

.confirm-table__text textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    line-height: 1.5;
    color: #8B7969;
}

.confirm-form__button {
    margin-top: 60px;
    margin-left: 50px;
    text-align: center;
    width: 100%;
}

.confirm-form__button-submit {
    padding: 10px;
    width: 15%;
    height: 50px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}

.correction {
    margin-left: 50px;
}